html,
body {
  font-family: mon_regular;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
}

.brd_7 {
  border-radius: 7px;
}
.bsd {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bg_white {
  background-color: white !important;
}
.bg_black {
  background-color: black !important;
}
.bg_green {
  background-color: $green_400 !important;
}
.bg_blue_400 {
  background-color: $blue_400 !important;
}
.bg_blue_300 {
  background-color: $blue_300 !important;
}
.bg_blue_200 {
  background-color: $blue_200 !important;
}
.bg_blue_100 {
  background-color: $blue_100 !important;
}
.txt_white {
  color: white !important;
}
.txt_blue_400 {
  color: $blue_400 !important;
}
.txt_blue_300 {
  color: $blue_300 !important;
}
.txt_blue_200 {
  color: $blue_200 !important;
}
.txt_blue_100 {
  color: $blue_100 !important;
}
.txt_center {
  text-align: center;
}
.txt_right {
  text-align: right;
}
.txt_left {
  text-align: left;
}

//With
.w-95 {
  width: 95%;
  margin: 0 auto;
}
.w-80 {
  width: 80%;
  margin: 0 auto;
}

.w-60 {
  width: 60%;
  margin: 0 auto;
}

//Font size
.fs30 {
  font-size: 30px;
}
