html,
body {
  font-family: mon_regular;
  font-size: $fs16;
  font-weight: $fw4;
  box-sizing: border-box;
}
#btn_backTop {
  position: fixed;
  bottom: 55px;
  right: 5px;
  z-index: 999;
  background-color: transparent;
  transform: rotate(-90deg);
  border: none;
  color: $gray_300;
  transition: 0.5s;
  &::after {
    content: "";
    width: 50%;
    height: 1px;
    background-color: $gray_300;
    display: block;
    transition: 0.5s;
  }
  &:hover {
    color: white;
    &::after {
      width: 100%;
    }
  }
}
.bsd {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bg_white {
  background-color: white !important;
}
.bg_black {
  background-color: black !important;
}

.txt_white {
  color: white !important;
}

.txt_center {
  text-align: center;
}
.txt_right {
  text-align: right;
}
.txt_left {
  text-align: left;
}

//With
.w-95 {
  width: 95%;
  margin: 0 auto;
}
.w-80 {
  width: 80%;
  margin: 0 auto;
}

.w-60 {
  width: 60%;
  margin: 0 auto;
}

.hide {
  display: none;
}
.header_fix {
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.774);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  .nav_top {
    background-color: transparent !important;
  }
}
