@font-face {
  font-family: anton_black;
  src: url("/font/Anton-Regular.ttf");
}
@font-face {
  font-family: open_sans_bold;
  src: url("/font/OpenSans-Bold.ttf");
}
@font-face {
  font-family: open_sans_light;
  src: url("/font/OpenSans-Light.ttf");
}
@font-face {
  font-family: open_sans_medium;
  src: url("/font/OpenSans-Medium.ttf");
}
@font-face {
  font-family: mon_light;
  src: url("/font/Montserrat-Light.ttf");
}
@font-face {
  font-family: mon_thin;
  src: url("/font/Montserrat-Thin.ttf");
}
@font-face {
  font-family: mon_regular;
  src: url("/font/Montserrat-Regular.ttf");
}
@font-face {
  font-family: mon_bold;
  src: url("/font/Montserrat-ExtraBold.ttf");
}
html,
body {
  font-family: mon_regular;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
}

#btn_backTop {
  position: fixed;
  bottom: 55px;
  right: 5px;
  z-index: 999;
  background-color: transparent;
  transform: rotate(-90deg);
  border: none;
  color: #4c4c4c;
  transition: 0.5s;
}
#btn_backTop::after {
  content: "";
  width: 50%;
  height: 1px;
  background-color: #4c4c4c;
  display: block;
  transition: 0.5s;
}
#btn_backTop:hover {
  color: white;
}
#btn_backTop:hover::after {
  width: 100%;
}

.bsd {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bg_white {
  background-color: white !important;
}

.bg_black {
  background-color: black !important;
}

.txt_white {
  color: white !important;
}

.txt_center {
  text-align: center;
}

.txt_right {
  text-align: right;
}

.txt_left {
  text-align: left;
}

.w-95 {
  width: 95%;
  margin: 0 auto;
}

.w-80 {
  width: 80%;
  margin: 0 auto;
}

.w-60 {
  width: 60%;
  margin: 0 auto;
}

.hide {
  display: none;
}

.header_fix {
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.774);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.header_fix .nav_top {
  background-color: transparent !important;
}

.btn_white {
  background-color: white;
  font-size: 1rem;
  color: #4c4c4c;
  padding: 0.8rem;
  width: 150px;
  margin: 0 0.5rem;
  border: none;
  transition: 0.5s;
}
.btn_white:hover {
  color: #939305;
}

.btn_over {
  background-color: #939305;
  border-radius: 0;
  color: white;
  font-size: 1rem;
  padding: 0.8rem;
  width: 150px;
  margin: 0 0.5rem;
  border: none;
  transition: 0.5s;
}
.btn_over:hover {
  background-color: #afaf01;
  color: #4c4c4c;
}

.btn_cancle {
  border: 1px solid #939305 !important;
  background-color: transparent;
  border-radius: 0;
  color: red;
  font-size: 1rem;
  padding: 0.8rem;
  width: 150px;
  margin: 0 0.5rem;
  border: none;
  transition: 0.5s;
}
.btn_cancle:hover {
  background-color: #afaf01;
  border: none;
}

#card_fashion {
  width: 100%;
}
#card_fashion .card_content {
  position: relative;
  border: 1px solid #757575;
}
#card_fashion .card_content:hover .card_hover .card_hover_item {
  transform: translateX(0);
}
#card_fashion .card_content .card_hover {
  position: absolute;
  top: 10px;
  right: 10px;
}
#card_fashion .card_content .card_hover .card_hover_item {
  cursor: pointer;
  transform: translateX(200%);
  width: 50px;
  height: 50px;
  background-color: white;
  text-align: center;
  margin: 10px 0;
  transition: 0.5s;
  position: relative;
}
#card_fashion .card_content .card_hover .card_hover_item:hover .item_tip {
  display: block;
}
#card_fashion .card_content .card_hover .card_hover_item .item_tip {
  display: none;
  position: absolute;
  width: 150px;
  top: 50%;
  left: calc(100% - 210px);
  transform: translateY(-50%);
  background-color: white;
  padding: 0.2rem 1rem;
  transition: 0.5s;
}
#card_fashion .card_content .card_hover .card_hover_item .item_tip::before {
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  background-color: red;
  position: absolute;
  top: 50%;
  right: -3px;
  transform: translateY(-50%) rotate(45deg);
  background-color: white;
}
#card_fashion .card_content .card_hover .card_hover_item span {
  font-size: 1.5rem;
  line-height: 50px;
}
#card_fashion .card_content .card_img {
  max-height: 560px;
  overflow: hidden;
}
#card_fashion .card_content .card_img img {
  width: 100%;
}
#card_fashion .card_content .card_info {
  padding: 1.5rem;
}
#card_fashion .card_content .card_info h6 {
  font-family: mon_regular;
  font-size: 23px;
  font-weight: 700;
}
#card_fashion .card_content .card_info .rating span {
  color: rgb(235, 181, 3);
}
#card_fashion .card_content .card_info .price p span:first-child {
  font-family: mon_thin;
  font-size: 16px;
  font-weight: 600;
  color: #757575;
}
#card_fashion .card_content .card_info .price p .price_item {
  font-family: mon_regular;
  font-size: 23px;
  font-weight: 700;
  color: rgb(180, 0, 0);
}
#card_fashion .card_content .card_info .price .add_cart_btn {
  font-family: mon_thin;
  font-size: 16px;
  font-weight: 400;
  color: rgb(206, 206, 206);
  border-radius: 0;
  background-color: #afaf01;
  padding: 1rem 0;
  border: none;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
#card_fashion .card_content .card_info .price .add_cart_btn:hover {
  background-color: #939305;
}

#feed_back {
  text-align: center;
}
#feed_back h1 {
  font-family: mon_bold;
  font-size: 45px;
}
#feed_back .feed_back_item .avatar {
  width: 148px;
  height: 148px;
  background-color: white;
  overflow: hidden;
  border: 1px solid #757575;
  border-radius: 100%;
  margin: 2rem auto;
  position: relative;
}
#feed_back .feed_back_item .avatar img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#feed_back .feed_back_item .feed_back_text {
  font-family: mon_thin;
  font-weight: 600;
  font-size: 20px;
}
#feed_back .feed_back_item .feed_back_user h6 {
  font-family: mon_regular;
  font-size: 20px;
  font-weight: 700;
  margin-top: 1rem;
  line-height: 0;
  letter-spacing: 1px;
}
#feed_back .feed_back_item .feed_back_user span {
  font-family: mon_thin;
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
}

#brands_slide {
  text-align: center;
}
#brands_slide h1 {
  font-family: mon_bold;
  font-size: 45px;
}
#brands_slide .brands_item .logo {
  padding: 1.5rem;
  width: 300px;
  height: 150px;
  overflow: hidden;
  position: relative;
}
#brands_slide .brands_item .logo img {
  max-width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
}

#Paginations button {
  width: 50px;
  height: 50px;
  border: 1px solid #757575;
  background-color: white;
  color: #757575;
  margin: 0 3px;
  border-radius: 0;
  transition: 0.5s;
}
#Paginations button span {
  line-height: calc(100% + 13px);
  text-align: center;
  transition: 0.5s;
}
#Paginations button:hover {
  background-color: black;
  color: white;
}
#Paginations .btn_next:hover span {
  transform: translateX(25px);
  color: #969696;
}
#Paginations .btn_prev span {
  transform: rotate(180deg);
}
#Paginations .btn_prev:hover span {
  transform: rotate(180deg) translateX(25px) !important;
  color: #969696;
}
#Paginations .btn_number {
  background-color: white;
  color: #757575;
}
#Paginations .btn_number.active {
  background-color: black;
  color: white;
}

.last_products {
  padding: 20px;
}
.last_products .last_products_header h4 {
  font-family: mon_regular;
  font-size: 20px;
  font-weight: 700;
  color: black;
}
.last_products .last_products_header h4:hover::after {
  width: 100%;
}
.last_products .last_products_header h4:after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background-color: #757575;
  transition: 0.5s;
}
.last_products .last_products_main .last_products_item {
  display: flex;
  margin: 10px 0;
}
.last_products .last_products_main .last_products_item .last_products_icon {
  width: 30%;
  margin: 0 10px;
}
.last_products .last_products_main .last_products_item .last_products_icon img {
  width: 100%;
}
.last_products .last_products_main .last_products_item .last_products_info h6 {
  font-family: mon_regular;
  font-size: 16px;
  font-weight: 700;
  color: black;
}
.last_products .last_products_main .last_products_item .last_products_info .rating {
  color: rgb(241, 187, 7);
}
.last_products .last_products_main .last_products_item .last_products_info .prices span {
  font-family: mon_regular;
  font-size: 20px;
  font-weight: 700;
  color: black;
}

#hearder .header_top {
  padding: 0.3rem 0;
}
@media only screen and (max-width: 1200px) {
  #hearder .header_top {
    display: none;
  }
}
#hearder .header_top .header_top_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0.3rem 0;
}
#hearder .header_top .header_top_content .top_left {
  font-family: mon_light;
  font-size: 13px;
}
#hearder .header_top .header_top_content .top_right a {
  text-decoration: none;
  color: white;
  font-family: mon_light;
  font-size: 15px;
  letter-spacing: 1px;
  margin: 0 10px;
  padding: 0;
}
#hearder .header_main .logo h1 {
  font-family: anton_black;
  font-size: 26px;
  letter-spacing: 5px;
  color: black;
}
#hearder .header_main .nav_link {
  color: #4c4c4c;
  font-family: mon_regular;
  font-size: 1rem;
  transition: 0.5s;
}
#hearder .header_main .nav_link::after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background-color: black;
  transition: 0.5s;
}
#hearder .header_main .nav_link.active, #hearder .header_main .nav_link:hover {
  color: black;
}
#hearder .header_main .nav_link.active::after, #hearder .header_main .nav_link:hover::after {
  width: 100%;
}
#hearder .header_main .nav_right button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
#hearder .header_main .nav_right button::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
  transition: 0.5s;
}

#footer .footer_main .footer_item {
  padding: 15px;
}
#footer .footer_main .footer_item .logo {
  text-align: center;
  color: white;
}
#footer .footer_main .footer_item .logo h1 {
  font-family: anton_black;
  font-size: 50px;
  font-weight: 400;
  color: white;
  letter-spacing: 10px;
  line-height: 0.6;
}
#footer .footer_main .footer_item .logo p {
  margin: 0;
  font-family: mon_thin;
  font-size: 16px;
  font-weight: 400;
  color: white;
  letter-spacing: 7px;
}
#footer .footer_main .footer_item .logo .sologan {
  margin: 10px 0;
  font-family: mon_thin;
  font-size: 16px;
  font-weight: 400;
  color: white;
  letter-spacing: 1px;
  font-style: italic;
}
#footer .footer_main .footer_item h4 {
  font-family: mon_regular;
  font-size: 25px;
  font-weight: 700;
  color: white;
  margin-bottom: 1.2rem;
}
#footer .footer_main .footer_item h4::after {
  content: "";
  display: block;
  width: 30%;
  background-color: white;
  height: 1px;
  transition: 0.5s;
}
#footer .footer_main .footer_item h4:hover::after {
  width: 100%;
}
#footer .footer_main .footer_item .footer_link .link_item {
  margin: 10px 0;
  padding-left: 20px;
}
#footer .footer_main .footer_item .footer_link .link_item::after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background-color: #757575;
  transition: 0.5s;
}
#footer .footer_main .footer_item .footer_link .link_item:hover::after {
  width: 100%;
}
#footer .footer_main .footer_item .footer_link .link_item:hover a {
  color: #969696;
  transform: translateX(15px);
}
#footer .footer_main .footer_item .footer_link .link_item a {
  font-family: mon_thin;
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  display: flex;
  transition: 0.5s;
}
#footer .footer_main .footer_item .footer_link .link_item a span:first-child {
  margin-right: 0.5rem;
}
#footer .footer_bottom {
  text-align: center;
  border-top: 1px solid #4c4c4c;
  padding: 1rem;
}
#footer .footer_bottom span {
  font-style: italic;
  font-size: 0.9rem;
}

#carousels .carousel_item {
  position: relative;
}
#carousels .carousel_item #first_item_caption {
  position: absolute;
  width: clam(300px, 400px, 800px);
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
}
#carousels .carousel_item #first_item_caption .item_text p:first-child {
  font-size: 30px;
  font-family: mon_regular;
  margin: 0;
}
#carousels .carousel_item #first_item_caption .item_text h3 {
  font-size: 95px;
  font-family: mon_bold;
  margin: 0;
}
#carousels .carousel_item #first_item_caption .item_text .collection_name {
  font-size: 35px;
  font-family: mon_regular;
  margin: 0;
}
#carousels .carousel_item #third_item {
  position: relative;
}
#carousels .carousel_item #third_item .third_item_caption {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
}
#carousels .carousel_item #third_item .third_item_caption .item_text p:first-child {
  font-size: 30px;
  font-family: mon_regular;
  margin: 0;
}
#carousels .carousel_item #third_item .third_item_caption .item_text h3 {
  font-size: 95px;
  font-family: mon_bold;
  margin: 0;
}
#carousels .carousel_item #third_item .third_item_caption .item_text .collection_name {
  font-size: 35px;
  font-family: mon_regular;
  margin: 0;
}

#collections .collections_content .collections_item {
  position: relative;
  margin: 10px 0;
}
#collections .collections_content .collections_item .overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.479);
}
#collections .collections_content .collections_item img {
  width: 100%;
}
#collections .collections_content .collections_item .item_title {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: mon_regular;
  font-size: 20px;
  font-weight: 700;
  color: #757575;
}

#home_page .discount .discount_item {
  text-align: center;
}
#home_page .discount .discount_item:hover .item_content .overlay:hover::after {
  transform: translateX(12%);
  background-color: rgb(190, 81, 99);
  border: none;
}
#home_page .discount .discount_item .item_content {
  position: relative;
}
#home_page .discount .discount_item .item_content .overlay {
  margin: 0 auto;
  width: 109px;
  height: 109px;
  background-color: pink;
  border-radius: 100%;
}
#home_page .discount .discount_item .item_content .overlay::after {
  content: "";
  width: 109px;
  height: 109px;
  display: block;
  border: 2px solid rgb(190, 81, 99);
  border-radius: 100%;
  transform: translateX(-12%);
  transition: 0.5s;
}
#home_page .discount .discount_item .item_content .discount_info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-7%, -50%);
}
#home_page .discount .discount_item .item_content .discount_info h4 {
  font-family: mon_regular;
  font-size: 38px;
  line-height: 0.5;
}
#home_page .discount .discount_item .item_content .discount_info span {
  font-family: mon_thin;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

#auth .auth_content {
  width: 50%;
  margin: 40px auto;
  padding: 60px;
}
#auth .auth_content .auth_header .logo {
  text-align: center;
  margin: 40px 0;
}
#auth .auth_content .auth_header .logo h1 {
  font-family: mon_bold;
  font-size: 100px;
  font-weight: 700;
  color: #939305;
  letter-spacing: 10px;
  line-height: 0.7;
}
#auth .auth_content .auth_header .logo span {
  font-family: mon_thin;
  font-size: 20px;
  font-weight: 700;
  color: #939305;
  letter-spacing: 20px;
}
#auth .auth_content .auth_item span {
  font-family: mon_regular;
  font-size: 16px;
  font-weight: 700;
  color: black;
}
#auth .auth_content .auth_item .auth_input .input_item {
  margin: 10px 0;
}
#auth .auth_content .auth_item .auth_input .input_item label {
  display: block;
  margin-bottom: 5px;
}
#auth .auth_content .auth_item .auth_input .input_item input {
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #939305;
}
#auth .auth_content .auth_item .auth_input .input_item input:focus-visible {
  outline: none !important;
}
#auth .auth_content .auth_item .auth_input .input_item span {
  display: block;
  font-family: mon_thin;
  font-size: 16px;
  font-weight: 700;
  color: red;
}
#auth .auth_content .auth_item .auth_link {
  text-align: right;
}
#auth .auth_content .auth_item .auth_link .link_item button,
#auth .auth_content .auth_item .auth_link .link_item a {
  background-color: transparent;
  border: none;
  color: #757575;
  text-decoration: none;
  margin: 10px 5px;
  transition: 0.5s;
}
#auth .auth_content .auth_item .auth_link .link_item button:hover,
#auth .auth_content .auth_item .auth_link .link_item a:hover {
  text-decoration: underline;
  color: #939305;
}
#auth .auth_content .auth_item .auth_btn {
  text-align: right;
}

#categorys .categorys_content {
  display: flex;
  margin: 30px 0;
}
#categorys .categorys_content .cate_left {
  width: 20%;
  margin: 0 auto;
}
#categorys .categorys_content .cate_left .cate_search {
  padding: 20px;
}
#categorys .categorys_content .cate_left .cate_search input {
  width: 100%;
  padding: 10px;
  border: 1px solid #939305;
}
#categorys .categorys_content .cate_left .cate_search input:focus-visible {
  outline: none;
}
#categorys .categorys_content .cate_right {
  width: 75%;
  margin: 0 auto;
}

#page_not_found .page_not_found_content {
  height: 450px;
  padding: 1.5rem;
  position: relative;
}
#page_not_found .page_not_found_content .page_not_found_item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(141, 5, 5);
  text-align: center;
}/*# sourceMappingURL=main.css.map */