#carousels {
  .carousel_item {
    position: relative;
    #first_item_caption {
      position: absolute;
      width: clam(300px, 400px, 800px);
      top: 50%;
      left: 50%;
      transform: translate(0, -50%);
      .item_text {
        p:first-child {
          font-size: 30px;
          font-family: mon_regular;
          margin: 0;
        }
        h3 {
          font-size: 95px;
          font-family: mon_bold;
          margin: 0;
        }
        .collection_name {
          font-size: 35px;
          font-family: mon_regular;
          margin: 0;
        }
      }
    }
    #third_item {
      position: relative;
      .third_item_caption {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        .item_text {
          p:first-child {
            font-size: 30px;
            font-family: mon_regular;
            margin: 0;
          }
          h3 {
            font-size: 95px;
            font-family: mon_bold;
            margin: 0;
          }
          .collection_name {
            font-size: 35px;
            font-family: mon_regular;
            margin: 0;
          }
        }
      }
    }
  }
}
