#footer {
  .footer_main {
    .footer_item {
      padding: $pd15;
      .logo {
        text-align: center;
        color: white;
        h1 {
          @include textStyle(anton_black, $fs50, $fw4, white);
          letter-spacing: 10px;
          line-height: 0.6;
        }
        p {
          margin: 0;
          @include textStyle(mon_thin, $fs16, $fw4, white);
          letter-spacing: 7px;
        }
        .sologan {
          margin: $mg10 0;
          @include textStyle(mon_thin, $fs16, $fw4, white);
          letter-spacing: 1px;
          font-style: italic;
        }
      }
      h4 {
        @include textStyle(mon_regular, $fs25, $fw7, white);
        margin-bottom: 1.2rem;
        &::after {
          content: "";
          display: block;
          width: 30%;
          background-color: white;
          height: 1px;
          transition: 0.5s;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
      .footer_link {
        .link_item {
          margin: $mg10 0;
          padding-left: $pd20;
          &::after {
            content: "";
            display: block;
            width: 0%;
            height: 1px;
            background-color: $gray_400;
            transition: 0.5s;
          }
          &:hover {
            &::after {
              width: 100%;
            }
            a {
              color: $gray_500;
              transform: translateX(15px);
            }
          }
          a {
            @include textStyle(mon_thin, $fs16, $fw4, white);
            text-decoration: none;
            display: flex;
            transition: 0.5s;
            span:first-child {
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
  }
  .footer_bottom {
    text-align: center;
    border-top: 1px solid $gray_300;
    padding: 1rem;
    span {
      font-style: italic;
      font-size: 0.9rem;
    }
  }
}
